<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
  <body>
    
	<%- include('../partials/nav.ejs') %>   
	<% try { %>
<div class="container-fluid" id="header">

		 
	  <!-- hero section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<a href="./single">
	  			<div class="hero-img">
	  				<img src="./img/hero-img.png">
	  			</div>
	  			</a>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
					<a  href="./single/<%= publicBlogs[0]['blog_id'] %>">
					<h1> <%- publicBlogs[0]['heading'] %></h1>
	  				</a>
	  			</div>

	  		</div>

	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<p> <%- shortContent%> </p>
	  				<div class="author">
	  					<div class="author-img"><img src="./img/author-img.png"></div>
	  					<div class="author-meta">
	  					<span class="author-name" style="margin-top: 16px;">Celeste Connell</span> <!-- fetch user name from user id -->
	  					</div>	
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>



<!-- hero ends -->

<!-- Article Grid -->
<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
	<div class="row justify-content-center">


<% var contentLength = Math.round(publicBlogs[0]['content'].length /4); var shortContent = publicBlogs[0]['content'].slice(0,77)  %>
<%   for(var i = 1; i< publicBlogs.length; i++) {%>

	<div class="col-xl-6 col-lg-12 text-center">
		<a href="./single/<%= publicBlogs[i]['blog_id'] %>">
		<div class="article-card">
		<div class="article-img">
			<img src="./img/1.jpeg">
		</div>

			<div class="article-meta text-left">
				<h2> <%= publicBlogs[i]['heading'] %></h2>
				<p><%= publicBlogs[i]['content'].slice(0,70) %>....</p>
			</div>
		</div>
		</a>
	</div>
<% }; %>
<% } catch{ %>
		<div class="alert alert-warning" role="alert">
		 No public blogs available at the moment.
	  </div>

<% } %>
<!-- More articles button -->

<div class="container text-center pb-3 mb-5">
		<a href="#" class="btn btn-lg btn-light">More Articles</a>
</div>


<!-- Footer section  -->

<%- include('../partials/footer.ejs') %> 


   
  </body>
</html>