<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
  <body>
    
	<%- include('../partials/member.ejs') %>   


<% try { %>
<div class="container-fluid" id="header">
	  <!-- hero section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
					<a  href="./single/<%= memberBlogs[0]['blog_id'] %>">
	  			<div class="hero-img">
	  				<img src="./img/<%= memberBlogs[0]['image'] %>">
	  			</div>
	  			</a>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
					<a  href="./single/<%= memberBlogs[0]['blog_id'] %>">
					<h1> <%- memberBlogs[0]['heading'] %></h1>
	  				</a>
	  			</div>

	  		</div>

	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<p> <%- shortContent%> </p>
	  				<div class="author">
	  					<div class="author-img"><img src="./img/author-img.png"></div>
	  					<div class="author-meta">
	  					<span class="author-name" style="margin-top: 16px;"> <%= [userdata[0]['firstname'], userdata[0]['lastname']].join(' ') %></span> <!-- fetch user name from user id -->
	  					
	  					</div>	
	  				</div>
					  <span class="author-name" style="margin-top: 16px;"> <%= memberBlogs[0]['date'] %></span> <!-- fetch user name from user id -->
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>
<!-- hero ends -->

<!-- Article Grid -->
<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
	<div class="row justify-content-center">

		<% var contentLength = Math.round(memberBlogs[0]['content'].length /4); var shortContent = memberBlogs[0]['content'].slice(0,77)  %>

<%   for(var i = 1; i< memberBlogs.length; i++) {%>

	<div class="col-xl-6 col-lg-12 text-center">
		<a href="./single/<%= memberBlogs[i]['blog_id'] %>">
		<div class="article-card">
		<div class="article-img">
			<img src="./img/1.jpeg">
		</div>

			<div class="article-meta text-left">
				<h2> <%= memberBlogs[i]['heading'] %></h2>
				<p><%= memberBlogs[i]['content'].slice(0,70) %>....</p>
			</div>
		</div>
		</a>
	</div>
<% }; %>
<% } catch{ %>
	<div class="alert alert-warning" role="alert" style="text-align: center;">
		 No member blogs available at the moment.
	  </div>
	</div>
</div>
<% } %>
<!-- More articles button -->




<!-- Footer section  -->

<%- include('../partials/footer.ejs') %> 



   
  </body>
</html>