<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
  <body>
    


<div class="container-fluid" id="header">
	

<%- include('../partials/nav.ejs') %> 
		<!-- Hero Section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<div class="hero-img">
	  				<!-- hero img -->
	  				<img src="../img/<%= singleBlogItem[0]['image'] %>">
	  			</div>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<h1> <%= singleBlogItem[0]['heading'] %></h1>
	  			</div>

	  		</div>
	  		<!-- hero meta -->
	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<div class="author">
						<div class="author-img"><img src="../img/user.png"></div>
	  					<div class="author-meta">
							<span class="author-name" style="margin-top: 16px;"> <%= [userdata[0]['firstname'], userdata[0]['lastname']].join(' ') %></span> <!-- fetch user name from user id -->	  					</div>	
	  					</div>	
	  				</div>
	  				<span class="date mt-1"><%= singleBlogItem[0]['date'] %></span>
	  			
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>


<!-- Content -->
<div class="container mt-5" id="content">
	<div class="row justify-content-center">
		<!-- Share buttons -->
		<div class="col-lg-1 text-left mb-3 fixed" id="social-share">
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-facebook-f"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-google"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-twitter"></i></a>
		</div>

		<!-- the content -->
		<div class="col-xl-7 col-lg-10 col-md-12">
			<p class="lead"> <%= singleBlogItem[0]['content'] %> </p>
		</div>

		<div class="col-lg-10 mt-3">
			<hr>
		</div>
	</div>
</div>




<!-- Footer section  -->
<%- include('../partials/footer.ejs') %> 

  </body>
</html>